.content__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 200px;
  margin: auto;
  padding-top: 21px;
}

.content__slogan {
  text-align: center;
  .font-bold-medium();
}

.content__text {
  margin-top: 9px;
  text-align: center;
  .font-text();
}

@media (min-width: @tablet-width) {
  .content__wrapper {
    width: 100%;
    justify-content: center;
    height: 185px;
  }

  .content__slogan {
    width: 500px;
    margin: 0 auto;
    margin-top: -9px;
    .font-bold-big();
  }

  .content__text {
    padding-top: 18px;
  }
}
