.copyright__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.copyright__link {
  margin: 0 auto;
  padding: 0;
  padding-right: 10px;
  .font-text();
  text-decoration: none;
  color: #000000;
}
