.feature__wrapper {
  display: flex;
  flex-direction: column;
  height: 1840px;
  margin: 0 auto;
  text-align: center;
  background-color: @blue-light;
  outline: 4px solid red;
}

.feature__block-image {
  display: flex;
  flex-direction: column;
  height: 470px;
  padding-top: 40px;
}

.feature__image {
  padding-top: 40px;
}

.feature__block-list {
  display: flex;
  align-items: center;
  text-align: left;
  height: 415px;
  margin-top: -36px;
  background-color: #ffffff;
  outline: 2px solid black;
}

.feature__list {
  padding-bottom: 7px;
}

.feature__item {
  padding-top: 15px;
  padding-left: 30px;
  list-style: none;
}

.feature__block {
  display: flex;
  flex-direction: column;
  height: 167px;
  background-color: #eeeeee;
}

.feature__title {
  .font-bold-medium();
  color: #ffffff;
}

.feature__number {
  margin-top: -7px;
  .font-text-wb();
  color: #ffffff;
}

.feature__text {
  width: 280px;
  margin: 0 auto;
  .font-text-wb();
  color: #ffffff;
}

.frature__block-list {
  display: flex;
  height: 413px;
  background-color: #ffffff;
}

.feature__item-title {
  .font-bold-medium();
}

.feature__item-text {
  width: 230px;
  .font-text-wb();
}
