.form__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

.form__box {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 1px;
  margin: 0 auto;
}

.form__box-title {
  text-align: center;
  .font-bold-medium();
}

.form__box-input {
  display: flex;
  align-items: baseline;
  padding-bottom: 20px;
}

.form__label {
  padding-right: 13px;
  .font-text();
}

.form__input {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  .font-bold-medium-upnone-input();
}

.form__label--patronymic {
  padding-right: 17px;
}

.form__box-input--contact {
  flex-direction: column;
  padding: 0;
}

.form__box-input--email {
  flex-direction: column;
  padding: 0;
  padding-bottom: 30px;
}

.form__label--contact {
  padding: 0;
  padding: 3px 0 6px 20px;
}

.form__label--email {
  padding-top: 10px;
}

.form__box--radio {
  padding-bottom: 18px;
  .font-bold-medium-upnone();
}

.form__box-input--radio {
  padding: 0;
  padding-bottom: 14px;
  align-items: center;
}

.form-radio__checkmark {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.form-radio__label {
  padding: 5px 0 0 24px;
}

.form__box-input--checkbox {
  padding: 0;
  padding-bottom: 25px;
  align-items: center;
  .font-bold-medium-upnone();
}

.form-checkbox__checkmark {
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
}

.form-checkbox__label {
  padding: 0 0 0 24px;
}

.form-textarea__input {
  width: 280px;
  height: 130px;
  padding: 15px;
  .font-bold-medium-upnone-input();
}

.form__box--button {
  padding-top: 24px;
  padding-bottom: 40px;
}

.form__button {
  padding: 16px 0 16px 0;
  background-color: @blue-light;
  .font-bold-medium();
  color: #ffffff;
}

.form__chek {
  display: none;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    padding: 0 60px;
  }

  .form__box--radio {
    width: 324px;
    order: -1;
  }

  .form__title {
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: left;
    .font-bold-big();
  }

  .form__box--name {
    width: 266px;
    padding-left: 58px;
  }

  .form__box-input--radio {
    padding-bottom: 24px;
  }

  .form__box--contact {
    width: 648px;
  }

  .form__title--contact {
    text-align: center;
    padding-top: 30px;
    margin: 0;
  }

  .form__box-input--contact {
    margin-top: -13px;
  }

  .form__box-input--contact:nth-child(2) {
    padding-bottom: 10px;
  }

  .form__box--checkbox {
    width: 648px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px;
    padding-bottom: 20px;
  }

  .form__box-title--name {
    order: -1;
  }

  .form__box-input--checkbox:nth-child(3) {
    order: 2;
    padding-right: 23px;
  }

  .form__box-input--checkbox:nth-child(4) {
    order: 0;
  }

  .form__box-input--checkbox:nth-child(5) {
    order: 2;
  }

  .form__title--checkbox {
    text-align: center;
    padding: 0 90px;
  }

  .form__box-input--checkbox {
    padding: 22px 5px 10px 66px;
  }

  .form__box--textarea {
    width: 648px;
  }

  .form__title--textarea {
    text-align: center;
  }

  .form-textarea__input {
    width: 100%;
  }

  .form__box--button {
    width: 648px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 110px;
  }

  .form__button {
    padding: 16px 77px 15px 60px;
  }

  .form__chek {
    display: block;
    margin-top: 20px;
    .font-text();
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 960px;
    padding: 0 120px;
  }

  .form__box--radio {
    width: 480px;
  }

  .form__title {
    padding-left: 80px;
    padding-top: 6px;
  }

  .form__box--name {
    width: 480px;
    padding: 0;
  }

  .form__box-input--radio {
    padding-bottom: 24px;
  }

  .form__box-input--name {
    padding-left: 80px;
  }

  .form__box--contact {
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__title--contact {
    width: 960px;
    padding: 30px 0 85px 0;
  }

  .form__label--contact-hide {
    display: none;
  }

  .form__box-input--contact,
  .form__box-input--email {
    width: 480px;
    flex-direction: row;
    padding: 0;
  }

  .form__box-input--email {
    margin-top: -13px;
  }

  .form__label--contact {
    padding: 0;
    padding-right: 20px;
  }

  .form__input--contact {
    max-width: 315px;
  }

  .form__label--email {
    padding: 0;
    padding-right: 18px;
  }

  .form__box--checkbox {
    width: 960px;
    padding: 0;
  }

  .form__box-title--checkbox {
    width: 100%;
    padding: 14px 190px 5px 195px;
    text-align: center;
  }

  .form__box-input--checkbox {
    width: 24.4%;
    justify-content: flex-start;
    padding: 0;
    padding-top: 15px;
    box-sizing: border-box;
  }

  .form-checkbox__label {
    padding: 0;
    padding-left: 25px;
  }
  .form-checkbox__input {
    padding-right: 40px;
  }

  .form__box-input--checkbox:nth-child(4) {
    padding-left: 27px;
  }

  .form__box-input--checkbox:nth-child(3) {
    width: 250px;
    padding-left: 50px;
  }

  .form__box-input--checkbox:nth-child(5) {
    width: 241px;
    padding-left: 37px;
  }

  .form__box--textarea {
    width: 960px;
  }

  .form__title--textarea {
    padding: 45px 190px 20px 190px;
  }

  .form-textarea__input {
    padding-top: 32px;
    padding-left: 20px;
  }

  .form__box--button {
    width: 960px;
    padding-bottom: 75px;
  }

  .form__button {
    padding: 16px 145px;
  }
}
