.main-camp__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 287px;
  text-align: center;
}

.main-camp__title {
  padding-top: 5px;
  padding-bottom: 5px;
  .font-bold-big;
}

.main-camp__text {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 40px;
  .font-text-wb;
}

.main-camp__button {
  padding: 17px 47px;
  margin: 0 auto;
  background-color: @blue-light;
  .font-bold-big;
  text-decoration: none;
  color: #ffffff;
}
