.main-content__feature {
  background-color: #81b3d2;
}

.feature__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.feature__number,
.feature__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.frature__list-wrapper {
  background-color: #ffffff;
}

.feature__item {
  list-style: none;
}

.feature__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.feature__item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.main-content__feature--color {
  background-color: #eeeeee;
}

.feature__title--color,
.feature__number--color,
.feature__text--color {
  color: #000000;
}
