.main-nav--mobile {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid black;
}

.main-nav__list {
  width: 280px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  background-color: @blue-light;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 640px;
    margin: 0 auto;
    outline: 1px solid green;
  }
}
