.main-content {
  width: 320px;
  outline: 1px solid orange;
  margin: 0 auto;
}

.main-content__block {
  height: 220px;
  outline: 1px solid green;
}

.main-content__slogan {
  text-align: center;
  padding: 21px 33px 0px 30px;
}

.main-content__text {
  text-align: center;
  padding: 9px 33px 40px 30px;
}

.main-content__feature {
  background-color: @blue-light;
}

.main-content__slogan {
  .font-bold-medium;
}

.main-content__text {
  .font-text;
}

.feature__title {
  .font-bold-medium;
  color: #ffffff;
}

.feature__number,
.feature__text {
  .font-text-wb;
  color: #ffffff;
}

.frature__list-wrapper {
  background-color: #ffffff;
}

.feature__item {
  list-style: none;
}

.feature__item-title {
  .font-bold-medium;
}

.feature__item-text {
  .font-text-wb;
}

.main-content__feature--color {
  background-color: #eeeeee;
}

.feature__title--color,
.feature__number--color,
.feature__text--color {
  color: #000000;
}
