  .map {
    height: 350px;
    margin-top: 5px;
    background: url("../img/bg-map-mobile@1x.jpg") no-repeat center;
  }

@media (min-width: @tablet-width) {
  .map {
    margin: 0;
    background: url("../img/map-tablet.jpg") no-repeat center;
  }
}

@media (min-width: @desktop-width) {
  .map {
    margin-top: 12px;
    background: url("../img/map-desktop.jpg") no-repeat center;
  }
}
