  .map__wrapper {
    height: 350px;
    margin-top: 5px;
    background: url("../img/bg-map-mobile@1x.jpg") no-repeat center;
  }

@media (min-width: @tablet-width) {
  .map__wrapper {
    margin: 0 auto;
    background: url("../img/map-tablet.jpg") no-repeat center;
  }
}

@media (min-width: @desktop-width) {
  .map__wrapper {
  margin: 0 auto;
    background: url("../img/map-desktop.jpg") no-repeat center;
  }
}
