.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 243px;
  margin: 0 auto;
  text-align: center;
  background-color: #fefefe;
}

.page-footer__hashtag {
  .font-bold-big;
  text-decoration: none;
  color: #000000;
  padding-top: 33px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 126px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  margin-right: 6px;
  background-color: @blue-light;
}

.social__item a {
  text-decoration: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.copyright__text {
  margin: 0 auto;
  padding: 0;
  padding-right: 10px;
  .font-text;
  text-decoration: none;
  color: #000000;
}
