.page-footer {
  display: flex;
  flex-direction: column;
  height: 243px;
  text-align: center;
  background-color: #fefefe;
}

.page-footer__hashtag-link {
  .font-bold-big;
  text-decoration: none;
  color: #000000;
  padding-top: 33px;
}
