.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__menu {
  display: flex;
  position: relative;
  justify-content: center;
}

.page-header-logo {
  height: 56px;
}

.page-header__toggle--open {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background: #ffffff url("/img/icon-menu.svg") no-repeat center;
  border: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .page-header__menu {
    position: absolute;
    top: 0%;
    right: 44%;
  }

  .page-header__toggle--open {
    display: none;
  }
}
