.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
}

.page-header__menu {
  display: flex;
  position: relative;
  min-width: 320px;
  justify-content: center;
  margin: 0 auto;
}

.page-header-logo {
  height: 56px;
}

.page-header__toggle--open {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background: #ffffff url("/img/icon-menu.svg") no-repeat center;
  border: 0;
}

@media (min-width: @tablet-width) {
  .page-header__menu {
    display: flex;
    justify-content: center;
    width: 640px;
    margin: 0 auto;
    outline: 1px solid red;
  }
}
