.popup__title {
  .font-bold-medium();
}

.popup__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  .font-text-normal;
}

.popup__button {
  background-color: @blue-light;
  .font-bold-medium();
  color: #ffffff;
}
