.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 153px;
  height: 126px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  background-color: @blue-light;
}

.social__link {
  text-decoration: none;
}

@media (min-width: @desktop-width) {
  .social-wrapper {
    width: 33%;
  }
}
